.dashboard__wrapper {
  width: 100%;
  display: flex;
  padding: 0 46px;

  .side__bar {
    border-right: 1px solid rgba(43, 53, 130, 0.07);
    width: 15%;
    height: 125vh;

    .logo {
      margin: 20px 0;
      padding: 15px;
      color: #3a309f;
      font-size: 1.5rem;
      font-weight: bold;
    }

    ul {
      list-style-type: none;
    }

    .nav__links1 {
      padding: 0px 20px 0 0;
      ul {
        li {
          padding: 10px 20px;
          color: #868492;
          font-weight: 500;
          font-size: 0.9rem;
          cursor: pointer;

          span {
            margin-right: 10px;
          }
        }

        li:hover {
          border: 2px solid #868492;
          border-radius: 10px;
        }
      }
    }

    .nav__links2 {
      padding: 0px 20px 0 0;
      h3 {
        padding: 13px 20px;
        color: #868492;
        font-weight: bold;
        font-size: 1rem;
      }
      ul {
        li {
          padding: 10px 20px;
          color: #868492;
          font-weight: 500;
          font-size: 0.9rem;
          cursor: pointer;

          span {
            margin-right: 10px;
          }
        }

        li:hover {
          border: 2px solid #868492;
          border-radius: 10px;
        }
      }
    }
  }
}

.dashboard__wrapper {
  .dashboard__content {
    width: 85%;
    padding: 20px 0 20px 30px;

    .search__wrapper {
      display: flex;

      .search__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #ffffff;
        padding: 12px 10px 12px 20px;
        box-shadow: 4px 0px 10px rgba(43, 53, 130, 0.07);
        width: 100%;
        border-radius: 10px;

        form {
          display: flex;
          width: 100%;
        }

        .icon {
          color: rgb(174, 172, 175);
          font-size: 25px;
        }

        input {
          border: none;
          width: 100%;
          padding: 0 10px;
        }

        ::-webkit-input-placeholder {
          color: #d7d7d7;
        }

        :-ms-input-placeholder {
          color: #d7d7d7;
        }

        ::placeholder {
          color: #d7d7d7;
        }

        input:focus {
          outline: none;
        }

        button {
          background: #3a309f;
          padding: 10px 40px;
          color: #ffffff;
          border: none;
          border-radius: 10px;
          cursor: pointer;
        }
      }

      .notifications__container {
        align-items: center;
        padding: 12px 0px;
        position: relative;
        ul {
          display: flex;
          flex-direction: row;

          .profile__img {
            width: 30px;

            img {
              width: 100%;
            }
          }

          .name {
            color: #3a309f;
            padding-top: 5px;
          }

          li {
            margin: 0 10px;
          }

          .bell__icon {
            color: #3a309f;
            font-size: 1.5rem;
            cursor: pointer;
          }
        }

        .arrow__up {
          color: #ffffff;
          position: absolute;
          top: 65px;
          left: 16px;
          font-size: 1.5rem;
        }

        .notification__wrapper {
          position: absolute;
          top: 85px;
          right: 0;
          z-index: 99999;
          width: 250px;
          border-radius: 10px;
          background: #ffffff;
          box-shadow: 4px 0px 10px rgba(43, 53, 130, 0.07);
          align-items: center;
          .notification__content {
            display: flex;
            flex-direction: row;
            padding: 15px 20px;
            justify-content: space-between;
            // border-bottom: 1px solid #d0ced6;
            align-items: center;

            .profile__img {
              width: 30px;

              img {
                width: 100%;
              }
            }

            .notification__msg {
              color: #868492;
              h3 {
                font-size: 0.9rem;
              }
              p {
                font-size: 0.7rem;
              }
            }

            .notification_icon {
              color: #868492;
            }
          }

          .two {
            border-bottom: 1px solid #d0ced6;
            border-top: 1px solid #d0ced6;
          }
        }
      }
    }

    .content__nav {
      margin: 25px 0;
      align-items: center;

      ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        border-radius: 10px;

        li {
          border-right: 1px solid rgba(31, 38, 88, 0.07);
          text-align: center;
          padding: 10px 10px;
          background: #ffffff;
          color: #b3b3b3;
          font-weight: 500;
          font-size: 0.9rem;
          box-shadow: 4px 0px 10px rgba(6, 8, 19, 0.07);
          cursor: pointer;

          span {
            .icon {
              margin-bottom: -8px;
              font-size: 1.5rem;
            }
          }
        }
      }
    }

    .image__cards {
      margin: 25px 0;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      grid-column-gap: 30px;
      grid-row-gap: 30px;

      .cards {
        cursor: pointer;
        position: relative;
        border-radius: 10px;
        width: 100%;
        height: 280px;
        border-radius: 10px;

        box-shadow: 4px 0px 10px rgba(6, 8, 19, 0.07);
        img {
          width: 100%;
          height: 280px;
          object-fit: cover;
          border-radius: 10px;
        }

        .more__info {
          position: absolute;
          bottom: 5px;
          left: 0;
          width: 100%;
          padding: 20px;
          border-radius: 0 0 10px 10px;
          box-shadow: 4px 0px 10px rgba(43, 53, 130, 0.07);
          .name {
            color: #ffffff;
            font-weight: bold;
          }

          .location {
            color: #ffffff;
            font-size: 0.7rem;
            margin: 5px 0;
          }

          .social {
            display: grid;
            text-align: center;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 10px;
            padding: 3px 0;
            display: none;
          }
        }
      }

      .cards:hover {
        .more__info {
          display: block;
          background: #ffffff;
          bottom: -15px;

          .name {
            color: #3a309f;
            font-weight: 500;
          }

          .location {
            color: #b3b3b3;
            font-size: 0.7rem;
            margin: 5px 0;
          }

          .social {
            display: grid;
            text-align: center;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 10px;
            padding: 3px 0;

            .heart {
              background: #c83539;
              color: white;
            }

            .thumb {
              background: #352b9d;
              color: white;
            }
          }
        }
      }
    }
  }
}

.mobile__header {
  display: none;
}

/* Smartphones (portrait and landscape) ---------- */
@media screen and (max-width: 480px) {
  /* styles */
  .dashboard__content {
    width: 100% !important;
    padding: 0px !important;

    .content__nav {
      ul {
        li {
          padding: 10px 5px !important;
        }
      }
    }
  }

  .mobile__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
    color: #3a309f;
    font-size: 1.2rem;

    .logo {
      color: #3a309f;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  .dashboard__wrapper {
    width: 100%;
    padding: 0 10px !important;
  }

  .notifications__container {
    display: none;
  }

  .search__container {
    padding: 8px !important;

    button {
      background: #3a309f;
      padding: 10px 20px !important;
      color: #ffffff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}
/* Tablets, iPads (portrait) ---------- */
@media screen and (max-width: 768px) {
  /* styles */
  .side__bar {
    display: none;
  }

  .dashboard__content {
    width: 100% !important;
    padding: 10px !important;

    .content__nav {
      ul {
        li {
          padding: 10px 3px !important;
        }
      }
    }
  }

  .dashboard__wrapper {
    width: 100%;
    display: flex;
    padding: 0 20px !important;
  }
}
/* Tablets, iPads (landscape) ---------- */
@media screen and (max-width: 1024px) {
  /* styles */
  .dashboard__wrapper {
    width: 100%;
    display: flex;
    padding: 0 46px;

    .side__bar {
      border-right: 1px solid rgba(43, 53, 130, 0.07);
      width: 15%;
      height: 125vh;

      .logo {
        margin: 20px 0;
        padding: 15px 10px;
        color: #3a309f;
        font-size: 1.2rem;
        font-weight: bold;
      }

      ul {
        list-style-type: none;
      }

      .nav__links1 {
        padding: 0px 20px 0 0;
        ul {
          li {
            padding: 10px;
            color: #868492;
            font-weight: 500;
            font-size: 0.9rem;
            cursor: pointer;

            span {
              margin-right: 10px;
            }
          }

          li:hover {
            border: 2px solid #868492;
            border-radius: 10px;
          }
        }
      }

      .nav__links2 {
        padding: 0px 20px 0 0;
        h3 {
          padding: 13px 10px;
          color: #868492;
          font-weight: bold;
          font-size: 1rem;
        }
        ul {
          li {
            padding: 10px 10px;
            color: #868492;
            font-weight: 500;
            font-size: 0.9rem;
            cursor: pointer;

            span {
              margin-right: 10px;
            }
          }

          li:hover {
            border: 2px solid #868492;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
